@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap');

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    margin-top: 15vh;
}

.illustration {
    width: 90%;
}

.logo {
    margin-bottom: 45px;
}

h1 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 3em;
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

form {
    margin: 38px 0 72px 0;
    font-weight: 100;
}

form input {
    height: 53px;
    width: 60%;
    margin-right: 20px;
    font-family: 'Libre Franklin', sans-serif;
    border-radius: 50px;
    border: 1px solid hsl(223, 100%, 88%);
    padding: 0 30px;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    opacity: 0.8;
    font-size: 1.3em;
    color: hsl(223, 100%, 88%);
}

form button {
    height: 53px;
    width: 30%;
    border-radius: 50px;
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    font-weight: 600;
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-size: 1em;
    box-shadow: 0 5px 10px hsl(223, 100%, 88%);
    cursor: pointer;
}

form button:focus {
    outline: none;
}

form small {
    text-align: left;
    display: block;
    padding-left: 70px;
    margin-top: 8px;
    opacity: 0;
}

.form.error input {
    border-color: hsl(354, 100%, 66%);
}

.form.error small {
    opacity: 1;
    color: hsl(354, 100%, 66%);
}

.illustration {
    margin-bottom: 60px;
}

.social-links {
    margin-bottom: 24px;
}

.social-links a {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: hsl(223, 87%, 63%);
}

.social-links li:not(:last-child) {
    margin-right: 10px;
}

.copyright {
    color: hsl(0, 0%, 59%);
}

@media screen and (max-width: 768px) {

    .container {
        padding: 0 15px;
    }
    form {
        position: relative;
    }
    
    form button {
        display: inline-block;
        width: 85%;
        margin: 0;
    }

    form input {
        margin-right: 0;
        margin-bottom: 15px;
        width: 85%;
    }

    form small {
        position: absolute;
        top: 52px;
        left: 40px;
        padding-left: 40px;
    } 

    .form.error button {
        margin-top: 30px;
    }

    h1 {
        font-size: 2em;
    }

    .illustration {
        margin-bottom: 10vh;
    }

    .social-links {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 435px) {
    form small {
        padding-left: 20px;
        font-size: 0.7em;
    }
}